<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Rhythm Records</title>
</head>
<body>

    {{{body}}}
        <div class="container">
        <footer>
            <hr>
            <h5>CS340 - Summer 2022 - Group 18</h5>
        </footer>
    </div>

</body>
</html>