
<html>
    <head>
        <title>Artists</title>
        
        <link href="/css/style.css"  rel="stylesheet" type="text/css" />

        <script language="JavaScript" src="../js_functs/artists/gen_artists.js"></script>

    </head>

    <body onload="browseArtist()">
        <h1>Artists</h1>

        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="http://flip2.engr.oregonstate.edu:34853/">Return to Index Page</a></p>

        <br>
        
        <div id="browse">
             <table border="1" cellpadding="5" id="artists-table">

                <thead>
                    <tr>
                        <th><a href="../insert_artists" onClick="newArtist()">New</a></th>
                        <th></th>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                    </tr>
                </thead>

                <tbody>

                    {{!-- For each row, print the id, name and country in order --}}
                    {{#each data}}
                    <tr>
                        <td><a href="../update_artists" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.ArtistID')">Delete</a></td>                        
                        <td align="center">{{this.artist_id}}</td>
                        <td align="center">{{this.artist_name}}</td>
                        <td align="center">{{this.country}}</td>
                    </tr>
                    {{/each}}
                </tbody>

            </table>
            <p>&nbsp;</p>
        </div> <!-- browse -->

        <!--seach function display the artist information by searching artist name-->
        <div>
            <h3>Search artist information by artist name</h3>

            <form class="searchArtist">
                <input type="text" placeholder="Please enter an artist name..." name="search">
                <input class="btn" type="submit" id="searchArtist" value="Search">
                </form>
        </div><!-- search-->


        <p>&nbsp;</p>

        <div id="delete" hidden>
            <form method="POST" id="deleteArtist">
                <legend><strong>Delete Artist</strong></legend>

                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden" name="ArtistID" id="deleteArtistID" value="1">
                    <label> Artist ID </label> <input type="number" name="arid">
                </fieldset>

                <input class="btn" type="submit" id="deleteArtist" value="Delete Artist">
                <input class="btn" type="button" value="cancel" onClick="window.location.reload();">
            </form> 
        </div><!-- delete -->


        <script>
            function deleteFunction() {
              var x = document.getElementById("delete");
              x.hidden
              x.hidden = !x.hidden
            }
        </script>

    </body>
</html>
