<html>
    <head>
        <title>Customers</title>
        
        <link href="style.css" rel="stylesheet" type="text/css" />

        <script language="JavaScript" src="../js_functs/customers/gen_customers.js"></script>

    </head>

    <body onload="browseCustomer()">
        <h1>Customers</h1>

        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="../">Return to Index Page</a></p>
        
        <br>

        <div id="browse">
            
            <table border="1" cellpadding="5">
                <tr>
                    <th><a href="../insert_customers" onClick="newCustomer()">New</a></th>
                    <th></th>
                    <th>Customer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Address</th>
                </tr>

                <tr>
                    <td><a href="../update_customers" onClick="updateCustomer('this.customerID')">Edit</a></td>
                    <td><a href="#" onclick="deleteFunction('this.customerID')">Delete</a></td>
                    <td align="center">1001</td>
                    <td align="center">Robert</td>
                    <td align="center">Smith</td>
                    <td align="center">rsmith@gmail.com</td>
                    <td align="center">998 464 8001</td>
                    <td align="center">123 Fake Street, Towner, CO 73892</td>
                </tr>

                <tr>
                    <td><a href="../update_customers" onClick="updateCustomer('this.customerID')">Edit</a></td>
                    <td><a href="#" onclick="deleteFunction('this.customerID')">Delete</a></td>
                    <td align="center">1002</td>
                    <td align="center">Amanda</td>
                    <td align="center">Bergen</td>
                    <td align="center">abergen@yahoo.com</td>
                    <td align="center">154 614 0854</td>
                    <td align="center">456 Unreal Drive, Cityberg, UT 98903</td>
                </tr>

                <tr>
                    <td><a href="../update_customers" onClick="updateCustomer('this.customerID')">Edit</a></td>
                    <td><a href="#" onclick="deleteFunction('this.customerID')">Delete</a></td>
                    <td align="center">1003</td>
                    <td align="center">Jon</td>
                    <td align="center">Johnson</td>
                    <td align="center">jjohnson@hotmail.com</td>
                    <td align="center">613 554 9641</td>
                    <td align="center">789 Wheresit Road, Whoville, NY 30432</td>
                </tr>

                <tr>
                    <td><a href="../update_customers" onClick="updateCustomer('this.customerID')">Edit</a></td>
                    <td><a href="#" onclick="deleteFunction('this.customerID')">Delete</a></td>
                    <td align="center">1004</td>
                    <td align="center">Jacob</td>
                    <td align="center">Lichtenstein</td>
                    <td align="center">jlichtenstein@aol.com</td>
                    <td align="center">881 341 1452</td>
                    <td align="center">987 Theresit Street, Realville, CA 45034</td>
                </tr>

                <tr>
                    <td><a href="../update_customers" onClick="updateCustomer('this.customerID')">Edit</a></td>
                    <td><a href="#" onclick="deleteFunction('this.customerID')">Delete</a></td>
                    <td align="center">1005</td>
                    <td align="center">Mark</td>
                    <td align="center">Nunda</td>
                    <td align="center">mnunda@comcast.net</td>
                    <td align="center">776 301 5124</td>
                    <td align="center">654 Someplace Avenue, Someplace, WA 53403</td>
                </tr>
            </table>
            <p>&nbsp;</p>
        </div> <!-- browse -->

        <!--seach function display the customer information by searching customer name-->
        <div>
            <h3>Search customer information by customer last name</h3>

            <form class="searchCustomer">
                <input type="text" placeholder="Enter a customer's last name..." name="search">
                <input class="btn" type="submit" id="searchCustomer" value="Search">
                </form>
        </div><!-- search-->

        <p>&nbsp;</p>

        <div id="delete" hidden>
            <form method="POST" id="deleteCustomer">
                <legend><strong>Delete Customer</strong></legend>

                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden" name="CustomerID" id="deleteCustomerID" value="1">
                    <label> Customer ID </label> <input type="number" name="cid">
                </fieldset>

                <input class="btn" type="submit" id="deleteArtist" value="Delete Artist">
                <input class="btn" type="button" value="Cancel" onClick="window.location.reload();">
            </form> 
        </div><!-- delete -->

        <script>
            function deleteFunction() {
              var x = document.getElementById("delete");
              x.hidden
              x.hidden = !x.hidden
            }
        </script>

    </body>
</html>
