
<html>
    <head>
        <title>Genres Has Albums</title>
        
        <!-- Link CSS and JS files -->
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script language="JavaScript" src="../js_functs/intersectionals/gha.js"></script>

    </head>

    <body>
        <h1>Genres Has Albums</h1>
        
        <!-- Navigation Menu -->
        [ <a href="orders.html">Orders</a> | <a href="customers.html">Customers</a> | <a href="artists.html">Artists</a> | <a href="albums.html">Albums</a> | <a href="genres.html">Genres</a>
        | <a href="artists_has_albums.html">Artists Has Albums</a> | <a href="genres_has_albums.html">Genres Has Albums</a>  | <a href="orders_has_albums.html">Orders Has Albums</a> ]
        <p><a href="../../cs340/index.html">Return to Index Page</a></p>
        <br>
        <div>
            
            <div id="browse_genres_has_albums">

                <table border="1" cellpadding="5">
                    <tr>
                        <th><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">New</a></th>
                        <th></th>
                        <th>genres_albums_id</th>
                        <th>Genre ID</th>
                        <th>Album ID</th>
                    </tr>

                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">1</td>
                        <td align="center">1</td>
                        <td align="center">5001</td>
                    </tr>
                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">2</td>
                        <td align="center">1</td>
                        <td align="center">5002</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">3</td>
                        <td align="center">2</td>
                        <td align="center">5002</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">4</td>
                        <td align="center">2</td>
                        <td align="center">5003</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">5</td>
                        <td align="center">2</td>
                        <td align="center">5005</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">6</td>
                        <td align="center">3</td>
                        <td align="center">5004</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">7</td>
                        <td align="center">4</td>
                        <td align="center">5001</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">8</td>
                        <td align="center">5</td>
                        <td align="center">5002</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">9</td>
                        <td align="center">5</td>
                        <td align="center">5003</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">10</td>
                        <td align="center">6</td>
                        <td align="center">5001</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">11</td>
                        <td align="center">7</td>
                        <td align="center">5004</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">12</td>
                        <td align="center">7</td>
                        <td align="center">5002</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">13</td>
                        <td align="center">7</td>
                        <td align="center">5003</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">14</td>
                        <td align="center">8</td>
                        <td align="center">5004</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">15</td>
                        <td align="center">9</td>
                        <td align="center">5005</td>
                    </tr>                    <tr>
                        <td><a href="../main/updates/update_albums.html" class="btn btn-outline-danger btn-md">Edit</a></td>
                        <td><a href="#" onclick="deleteFunction('this.genres_has_albums_id')">Delete</a></td>
                        <td align="center">16</td>
                        <td align="center">10</td>
                        <td align="center">5006</td>
                    </tr>

                </table>
                <p>&nbsp;</p>
            </div> <!-- browse -->

            <!-- DELETE M:M Relationship Deletion: dis-associate an album from an artist -->


            <div id="delete_genres_has_albums" hidden>
                <form method="POST" id="deletegenreshasalbums">
                    <legend><strong>Dis-associate a genre from an artist</strong></legend>
                    
                    <fieldset class="fields">
                        <p>Are you sure you wish to delete the following?</p>
                        <input type="hidden" name="genres_has_albums_id" id="deletegenreshasalbumsID" value="1">
                        <label> genres_albums_id </label> <input type="number" name="genres_has_albums_id">

                    
                    </fieldset>
                    
                    <input class="btn" type="submit" id="deletegenreshasalbums" value="Submit">
                    <input class="btn" type="button" value="Cancel" onClick="window.location.reload();">
                </form> 
            </div><!-- delete -->

            <script>
                function deleteFunction() {
                  var x = document.getElementById("delete_genres_has_albums");
                  x.hidden
                  x.hidden = !x.hidden
                }
            </script>


            <!--seach function display the albums under a genre-->
            <div>
                <h3>Display all albums under a genre</h3>

                <form class="seachAlbums">
                    <input type="text" placeholder="Please enter a genre name..." name="search">
                    <input class="btn" type="submit" id="searchAlbums" value="Search">
                  </form>
            </div>

        </div>

    </body>
</html>