
<html>
    <head>
        <title>Genres</title>
        
        <link href="style.css" rel="stylesheet" type="text/css" />

    </head>

    <body>
        <h1>Genres</h1>

        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="../">Return to Index Page</a></p>
        
        <br>
        
        <div id="browse">
            <table id="genres-table" border="1" cellpadding="5">
                    
                    <thead>
                        <tr>
                            <th><a href="../insert_genres" class="btn btn-outline-danger btn-md">New</a></th>
                            <th></th>
                            {{#each data.[0]}}
                            <th>
                                {{@key}}
                            </th>
                            {{/each}}
                        </tr>
                    </thead>
                    
                    <tbody>
                        {{#each data}}
                        <tr>
                            <td><a href="../update_genres?{{this.genre_id}}" class="btn btn-outline-danger btn-md">Edit</a></td>
                            <td><a href="#" onclick="deleteFunction('this.genre_id')">Delete</a></td>
                            <td>{{this.genre_id}}</td>
                            <td>{{this.genre_name}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            <p>&nbsp;</p>
        </div> <!-- browse -->


        <!--seach function display the genre id by searching genre name-->
        <div>
            <h3>Search genre ID by genre name</h3>

            <form class="searchGenre">
                <input type="text" placeholder="Please enter a genre name..." name="search">
                <input class="btn" type="submit" id="searchGenre" value="Search">
                </form>
        </div><!-- search-->



        <div id="delete" hidden>
            <form method="POST" id="deleteGenre">
                <legend><strong>Delete Genre</strong></legend>

                <fieldset class="fields">
                    <p>Are you sure you wish to delete the following?</p>
                    <input type="hidden" name="GenreID" id="deleteGenreID" value="1">
                    <label> Genre ID </label> <input type="number" name="gid">
                </fieldset>
                
                <input class="btn" type="submit" id="deleteGenre" value="Delete Genre">
                <input class="btn" type="button" value="cancel" onClick="window.location.reload();">
            </form> 
        </div><!-- delete -->


        <script>
            function deleteFunction() {
              var x = document.getElementById("delete");
              x.hidden
              x.hidden = !x.hidden
            }
        </script>

    </body>
</html>
