<hbs>
    <head>
        <title>Index Page</title>
        
        <link href="style.css" rel="stylesheet" type="text/css" />

    </head>

    <body onload="browseOrder()">
        <h1>Index Page for Rhythm Records - Group 18</h1>
        <br>
        <h2><a href='/customers'>Customers - Browse all customers, add new customers, update existing customers or delete existing customers</a></h2>
        <br>
        <h2><a href="/orders">Orders - Browse all orders, add new orders, update existing orders or delete existing orders </a></h2>
        <br>
        <h2><a href="/artists">Artists - Browse all artists, add new artists, update existing artists or delete existing artists</a></h2>
        <br>
        <h2><a href="/albums">Albums - Browse all albums, add new albums, update existing albums or delete existing albums</a></h2>
        <br>
        <h2><a href="/genres">Genres - Browse all genres, add new genres, update existing genres or delete existing genres</a></h2>
        <br>
        <h2><a href="/artists_has_albums">Artist Has Albums - Associate or disassociate an album from an artist</a></h2>
        <br>
        <h2><a href="/genres_has_albums">Genres Has Albums - Associate or disassociate an album from a genre</a></h2>
        <br>
        <h2><a href="/orders_has_albums">Orders Has Albums - Associate or disassociate an album from an order</a></h2>
    </body>
</hbs>
