<html>
    <head>
        <title>Add Album</title>     
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script language="JavaScript">
        </script>

    </head>

    <body>
        <h1>Add Album</h1>
        
        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="../">Return to Index Page</a></p>
        
        <br>

        <div id="add_albums">
            
            <form id="addAlbum">
                <fieldset>
                    <h3>Provide Album Details</h3>
                    <div class="form-group">
                        <label for="alname"> Album Name: </label> 
                        <input type="text" name="alname" id="alname"><br><br>
                        <label for="date"> Release Date: </label> 
                        <input type="date" name="date" id="date"><br><br>
                        <label for="quan"> Quantity in Stock: </label> 
                        <input type="number" name="qty" id="qty"><br><br>
                        <label for="price"> Price: </label> 
                        <input type="number" step="0.01" name="price" id="price"><br><br>
                    </div>
                </fieldset>
                <br>
                <div>
                    <input onclick= "window.location.href='/albums';" class="btn" type="submit" value="Please save and continue">
                    <a href="/albums"><input class="btn" type="button" value="Cancel"></a>
                </div>

            </form>
            <script src="/js/add_album.js"></script>


            <br><br>
            <table id="artists_has_albums" border="1" cellpadding="5">
                <tr>
                <th> </th>
                <th>Artist Name</th>
                </tr>
                <tr>
                    <td>1 </td>
                    <td>
                        <select class="form-control" id="artistSelect">
                            <option value="none" selected disabled hidden>Select an artist</option>
                            <option>Nas</option>
                            <option>Neutral Milk Hotel</option>
                            <option>Summoning</option>
                            <option>Iggy & The Stooges</option>
                            <option>Ed Harris</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <button onclick="AddArtistFunction()">Add another artist</button>

            <br><br>

            <table id="genres_has_albums" border="1" cellpadding="5">
                <tr>
                <th> </th>
                <th>Genre Name</th>
                </tr>
                <tr>
                    <td>1 </td>
                    <td>
                        <select class="form-control" id="genreSelect">
                            <option value="none" selected disabled hidden>Select a genre</option>
                            <option>East Coast Hiphop</option>
                            <option>Hardcore Hiphop</option>
                            <option>Indie Rock</option>
                            <option>Psychedelic Folk</option>
                            <option>Black Metal</option>
                            <option>Ambient/Atmospheric</option>
                            <option>Proto-Punk</option>
                            <option>Hard Rock</option>
                            <option>Soundtrack</option>
                            <option>Drum and Bass</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br>
            <button onclick="AddGenreFunction()">Add another genre</button>

        </div><!-- insert -->

    </body>
</html>