<html>
    <head>
        <title>Add Genres to Album</title>     
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    </head>

    <body class="first-color">
        <h1 class="title-format">Add Genres to Album</h1>

        <div class="text-font">
            [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
            | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
            
            <p><a href="../">Return to Index Page</a></p>
        </div>

        <div class="text-font" id="add_genres_to_album">

           <form class="text-font" id="addGenresToAlbum">

                <fieldset>
                    <h3>Please choose an album</h3>
                    <select class="form-control" id="albumSelect">
                        {{#each album}}
                        <option album_id="{{this.album_id}}">{{this.album_name}}</option>
                        {{/each}}
                    </select>
                </fieldset>

                <fieldset>
                    <h3>Add Genres - (multiple genres allowed)</h3>
                    <select class="form-control" id="genreSelect">
                        {{#each data}}
                        <option genre_id="{{this.genre_id}}">{{this.genre_name}}</option>
                        {{/each}}
                    </select>
                    <button type="button" onclick="addMoreGenre()">Add more genres</button>
                    <br>
                    <br>
                    <table id="addGenre-table" border="1" cellpadding="5">
                        <thead>
                            <tr class="text-font-headers">
                                <th>Genre ID</th>
                                <th>Genre Name</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </fieldset>
            </form>

            <form class="text-font" id="submitForm">
                <div>
                    <input onclick= "window.location.href='../genres_has_albums';" class="btn" type="submit" value="Add genres to album">
                    <a href="../genres_has_albums"><input class="btn" type="button" value="Cancel"></a>
                </div>
            </form>

            
            <script src="/js/add_genres_has_albums.js"></script>
        </div><!-- insert -->

    </body>
</html>