<html>
    <head>
        <title>Update Artist</title>     
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script language="JavaScript">
        </script>

    </head>

    <body>
        <h1>Update Artist</h1>

        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="http://flip2.engr.oregonstate.edu:34853/">Return to Index Page</a></p>
        
        <br>

        <!-- update existing artist -->
        <div id="add_artist">
            
            <form method="POST" id="addArtist">
                <fieldset>
                    <h3>Selected Artist Details</h3>
                    <div class="form-group">
                        <input type="hidden" name="ArtistID" id="updateArtistID" value="1">
                        <label for="arid"> Artist ID: </label>
                        <input type="number" name="arid" value="991"><br><br>
                        <label for="arname"> Artist Name: </label> 
                        <input type="text" name="arname" value="Neutral Milk Hotel"><br><br>
                        <label for="country"> Country: </label> 
                        <input type="text" name="country" value="United States of America"><br><br>
                    </div>
                </fieldset>
            </form> 
        </div><!-- update -->

        <p>&nbsp;</p>

        <div>
            <input class="btn" type="submit" id="updateArtist" value="Update Artist">
            <a href="../artists"><input class="btn" type="button" value="Cancel"></a>
        </div>

    </body>
</html>