<html>
    <head>
        <title>Update Genres</title>
        
        {{!-- <link href="style.css" rel="stylesheet" type="text/css" /> --}}

    </head>

    <body>
        <h1>Update Genre</h1>

        [ <a href="../orders">Orders</a> | <a href="../customers">Customers</a> | <a href="../artists">Artists</a> | <a href="../albums">Albums</a> | <a href="../genres">Genres</a>
        | <a href="../artists_has_albums">Artists Has Albums</a> | <a href="../genres_has_albums">Genres Has Albums</a>  | <a href="../orders_has_albums">Orders Has Albums</a> ]
        
        <p><a href="../">Return to Index Page</a></p>
        
        <br>

        <div id="update_genres">
            <form method="PUT" id="update-genre-form-ajax">

                <label for="input-genre_id">Genre ID: </label>
                <select name="input-genre_id" id="mySelect">
                    <option value="test">Select a Genre ID</option>
                    {{#each genre_ids}}
                    <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>

                <label for="input-genre_name">Genre Name: </label>
                <input type="text" name="input-genre_name" id="input-genre_name-update">
                <input type="submit">

            </form> 

            <script src="/js/update_genres.js"></script>

        </div><!-- update -->

    </body>
</html>