<html>
    <head>
        <title>Add Orders</title>
        
        <link href="style.css" rel="stylesheet" type="text/css" />

        <script language="JavaScript" src="/js_functs/orders/insert_orders.js"></script>

    </head>

    <body>
        <h1>Add Orders</h1>

        [ <a href="../orders.html">Orders</a> | <a href="../customers.html">Customers</a> | <a href="../artists.html">Artists</a> | <a href="../albums.html">Albums</a> | <a href="../genres.html">Genres</a>
        | <a href="../artists_has_albums.html">Artists Has Albums</a> | <a href="../genres_has_albums.html">Genres Has Albums</a>  | <a href="../orders_has_albums.html">Orders Has Albums</a> ]
        <br>
        
        <p><a href="../../index.html">Return to Index Page</a></p>
        
        <br>

        <div id="insert_orders">
            <form method="POST" id="addOrder">
                <fieldset>
                    <h3>Provide Order Details</h3>
                    <div class="form-group">
                        <label for="custID"> Customer ID: </label> 
                        <select>
                            <option value="1001">1001</option>
                            <option value="1002">1002</option>
                            <option value="1003">1003</option>
                            <option value="1004">1004</option>
                            <option value="1005">1005</option>
                        </select><br><br>
                        
                        <label> Album Name: </label> <input type="text" name="cid"><br><br>
                        <label> Quantity: </label> <input type="number" name="cid"><br><br>
                    </div>
                </fieldset>
                <br>
                
                <input class="btn" type="submit" id="addOrder" value="Add Order" onclick="insertOrder()">
                <a href="../orders.html"><input class="btn" type="button" value="Cancel"></a>
            </form> 
        </div>

    </body>
</html>
