<html>
    <head>
        <title>Update Album</title>     
        <link href="style.css" rel="stylesheet" type="text/css" />
        <script language="JavaScript">
        </script>

    </head>

    <body>
        <h1>Update Album</h1>

        [ <a href="../orders.html">Orders</a> | <a href="../customers.html">Customers</a> | <a href="../artists.html">Artists</a> | <a href="../albums.html">Albums</a> | <a href="../genres.html">Genres</a>
        | <a href="../artists_has_albums.html">Artists Has Albums</a> | <a href="../genres_has_albums.html">Genres Has Albums</a>  | <a href="../orders_has_albums.html">Orders Has Albums</a> ]
        <br>
        
        <p><a href="../../index.html">Return to Index Page</a></p>
        
        <br>
        
        <!-- Update of An Existing Album -->
        <div id="update_album">
            <form method="POST" id="updateAlbum">
                <fieldset>
                    <h3>Selected Album Details</h3>
                    <div class="form-group">
                        <input type="hidden" name="AlbumID" id="updateAlbumID" value="1">
                        <label for="alid"> Album ID: </label> 
                        <input type="number" name="alid" value="5001"><br><br>
                        <label for="alname"> Album Name: </label> 
                        <input type="text" name="alname" value="Illamtic"><br><br>
                        <label for="date"> Release Date: </label> 
                        <input type="date" name="date" value="1994-04-19"><br><br>
                        <label for="quan"> Quantity in Stock: </label> 
                        <input type="number" name="quan" value="15"><br><br>
                        <label for="price"> Price: </label> 
                        <input type="number" step="0.01" name="price" value="24.5"><br><br>
                    </div>
                </fieldset>
                <br><br>


                <table id="artists_has_albums" border="1" cellpadding="5">
                    <tr>
                      <th>Artist Name</th>
                      <th> </th>
                    </tr>
                    <tr>
                        <td>Nas</td>
                        <td>
                            <button onclick="DeleteArtistFunction()">Delete artist</button>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <select class="form-control" id="artistSelect">
                                <option value="none" selected disabled hidden>Select an artist</option>
                                <option>Nas</option>
                                <option>Neutral Milk Hotel</option>
                                <option>Summoning</option>
                                <option>Iggy & The Stooges</option>
                                <option>Ed Harris</option>
                            </select>
                        </td>
                        <td>
                            <button onclick="DeleteArtistFunction()">Delete artist</button>
                        </td>                        
                    </tr>
                </table>
                <br>
                <button onclick="AddArtistFunction()">Add another artist</button>

                <br><br>
                
                <table id="genres_has_albums" border="1" cellpadding="5">
                    <tr>
                      <th>Genre Name</th>
                      <th> </th>
                    </tr>
                    <tr>
                        <td>East Coast Hiphop</td>
                        <td>
                            <button onclick="DeleteGenreFunction()">Delete genre</button>
                        </td>
                    </tr>

                    <tr>
                        <td>Psychedelic Folk</td>
                        <td>
                            <button onclick="DeleteGenreFunction()">Delete genre</button>
                        </td>
                    </tr>

                    <tr>
                        <td>Ambient/Atmospheric</td>
                        <td>
                            <button onclick="DeleteGenreFunction()">Delete genre</button>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <select class="form-control" id="genreSelect">
                                <option value="none" selected disabled hidden>Select a genre</option>
                                <option>East Coast Hiphop</option>
                                <option>Hardcore Hiphop</option>
                                <option>Indie Rock</option>
                                <option>Psychedelic Folk</option>
                                <option>Black Metal</option>
                                <option>Ambient/Atmospheric</option>
                                <option>Proto-Punk</option>
                                <option>Hard Rock</option>
                                <option>Soundtrack</option>
                                <option>Drum and Bass</option>
                            </select>
                        </td>
                        <td>
                            <button onclick="DeleteGenreFunction()">Delete genre</button>
                        </td>
                    </tr>
                </table>
                <br>
                <button onclick="AddGenreFunction()">Add another genre</button>


            </form> 
        </div><!-- update -->

        <p>&nbsp;</p>

        <div>
            <input class="btn" type="submit" id="UpdateSaveAlbum" value="Save">
            <a href="../albums.html"><input class="btn" type="button" value="Cancel"></a>
        </div>

    </body>
</html>